<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Serving static files</title>
</head>
<body>

    <div class="card">
        <h2>Welcome to Demo API</h2>
        <p>This is a demo movie api built using express js and a json file as a data source </p>
        <p>This is a simple demo HTML page to demo serving static files</p>
    </div>
    
</body>
</html>